html, body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
  letter-spacing: 0.3px;
}

.stepcontent{
  margin-left: 15%;
  background-color: transparent;
}

.duration{
  margin-left: 8% !important;
  margin-top: -2% !important;
  font-size: x-small !important; 
  color: darkgray !important; 
  font-style: revert !important; 
}

.opensource{
  margin-left: 4% !important;
  margin-bottom: 4% !important;
}

.location{
  margin-top: 1% !important;
  margin-left: 8% !important;
  color: darkgray !important;
  font-size: x-small !important;
  font-style: revert !important; 
}

.myexperience {
  border-color: white;
  padding-left: 17%;
  margin-top: -6%;
  font-size: x-small;
}

@media all and (min-width:481px) and (max-width: 1024px) {
  .myexperience {
    border-color: white;
    padding-left: 17%;
    margin-top: -6%;
    font-size: x-small;
    margin-left: 1%;
  }
}

@media all and (min-width:321px) and (max-width: 480px) {
  .myexperience {
    border-color: white;
    padding-left: 17%;
    margin-top: -6%;
    font-size: x-small;
    margin-left: 12%;
  }
}

@media all and (min-width:0px) and (max-width: 320px) {
  .myexperience {
    border-color: white;
    padding-left: 17%;
    margin-top: -6%;
    font-size: x-small;
    margin-left: 12%;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-color: white; 
}

td {
  border: 1px solid white !important; 
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

a {
  text-decoration: none;
}

.left,
.right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.left {
  color: #efefef;
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  overflow: hidden;
  position: fixed;
}

.right .university-second{
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
}

.left .bg-img {
  background: url('../../static/img/img.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.left .bg-img:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #000000 , #185b9d00);
  opacity: 0.65;
}

.left-inner,
.right-inner {
  padding: 50px;
}

@media screen and (max-width: 400px) {
  .left-inner,
  .right-inner {
    padding: 40px;
  }
}

.left-inner {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
}

.left .info {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  flex: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  width: 90%;
  margin: 0 auto;
  margin-top: 65%;
}


@media all and (min-width:960px) and (max-width: 1024px) {
  .left .info {
    margin-top: 1024px;
  }

  .right {
    margin-top: 300px;
  }

}

@media all and (min-width:801px) and (max-width: 959px) {
  .left .info {
    margin-top: 959px;
  }

  .right {
    margin-top: 300px;
  }
}

@media all and (min-width:769px) and (max-width: 800px) {
  .left .info {
    margin-top: 800px;
  }

  .right {
    margin-top: 300px;
  }
}

@media all and (min-width:569px) and (max-width: 768px) {
  .left .info {
    margin-top: 768px;
  }

  .right {
    margin-top: 300px;
  }

}

@media all and (min-width:481px) and (max-width: 568px) {
  .left .info {
    margin-top: 568px;
  }

  .right {
    margin-top: 300px;
  }

}

@media all and (min-width:321px) and (max-width: 480px) {
  .left .info {
    margin-top: 480px;
  }

  .right {
    margin-top: 300px;
  }

}

@media all and (min-width:0px) and (max-width: 320px) {
  .left .info {
    margin-top: 320px;
  }

  .right {
    margin-top: 300px;
  }

}




.left .info .name {
  font-weight: 700;
  font-size: xx-large;
}

.left .info .social-links {
  margin-top: 30px;
}

.left .info .fa {
  margin: 10px;
  font-size: 24px;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .left, .right {
    display: block;
    width: 100%;
  }
  .left {
    position: static;
  }
}

.right {
  float: right;
}

.right a {
  color: #000;
}

.right h4,
.right .content {
  display: inline-block;
  vertical-align: top;
}

.right h4 {
  width: 20%;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #2A54F5;
  background-image: -webkit-linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right ul {
  padding: 0;
  margin: 0;
}



.right .content {
  width: 100%;
  padding: 0;
  margin: 0 0 10px;
  font-weight: 300;
  line-height: 1.5;
}


@media screen and (max-width: 600px) {
  .right h4,
  .right .content {
    display: block;
    vertical-align: top;
    width: 100%;
  }
}

.right .content ul.description {
  padding-left: 20px;
  margin-top: 10px;
  font-size: 15px;
}

.right .introduction .intro-p:first-of-type {
  margin-top: 0;
}

.right .introduction .job-pls {
  font-weight: 500;
  background-color: #2A54F5;
  background-image: -webkit-linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}


.right .skills .skill-category {
  margin-bottom: 10px;
}

.right .skills .skill-category:last-of-type {
  margin-bottom: 0px;
}

.right .skills .skill-category > strong {
  text-transform: uppercase;
  font-size: 14px;
}

.right .education {
  font-size: 16px;
}

.right .education .university {
  font-weight: 700;
  font-size: 16px;
}

.right .education .college {
  font-weight: 700;
  font-style: italic;
  margin-bottom: 5px;
}

.right .education .major,
.right .education .minor,
.right .education .conc,
.right .education .study-abroad {
  font-size: 15px;
}

.right .education .major > strong,
.right .education .minor > strong,
.right .education .conc > strong,
.right .education .study-abroad > strong {
  font-weight: 500;
}

.right .education .study-abroad {
  margin-top: 10px;
}

.right .education .grad-date {
  text-transform: uppercase;
  color: #aaa;
  font-size: 13px;
  font-weight: 500;
  margin-top: 15px;
}

.right .experience .exp-item {
  margin-bottom: 30px;
}

.right .experience .exp-item:last-of-type {
  margin-bottom: 0;
}

.right .experience .exp-item .job {
  margin: 0;
  font-weight: 700;
}

.right .experience .exp-item .duration {
  font-size: 13px;
  font-weight: 500;
  float: right;
  color: #aaa;
  text-transform: uppercase;
  position: relative;
  top: 1px;
  margin-bottom: 5px;
}

@media screen and (max-width: 340px) {
  .right .experience .exp-item .duration {
    float: none;
  }
}

.right .experience .exp-item .title {
  font-weight: 700;
  font-style: italic;
}

.right .projects .project-item {
  margin-bottom: 20px;
}

.right .projects .project-title {
  font-weight: 700;
}

.right .projects .project-desc {
  font-size: 15px;
  margin: 0 0 10px;
}

.right a.resume {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0px;
  background-color: #f5f5f5;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.right a.resume:hover {
  background-color: #f1f1f1;
}

.right a.resume .resume-link {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #2A54F5;
  background-image: -webkit-linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  background-image: linear-gradient(45deg,#2A54F5 0%,#33E5BB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}